{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
  <title>TicTac</title>
  <link rel="stylesheet" href="{% static 'CSS/game.css' %}">
</head>
<body>
<div class="game">
  <div class="board">
    <div class="square top left" tabindex="0">
      <div class="x"></div>
    </div>
    <div class="square top" tabindex="0"><div class="o"></div></div>
    <div class="square top right" tabindex="0"><div class=""></div></div>
    <div class="square left" tabindex="0"><div class=""></div></div>
    <div class="square" tabindex="0"><div class=""></div></div>
    <div class="square right" tabindex="0"><div class=""></div></div>
    <div class="square bottom left" tabindex="0"><div class=""></div></div>
    <div class="square bottom" tabindex="0"><div class=""></div></div>
    <div class="square bottom right" tabindex="0"><div class=""></div></div>
  </div>
<div class="restart" style="display: none;"></div>
</div>
</body>
</html>